/**************************
 * FONTS
 **************************/

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
         url('fonts/Poppins-Regular.woff') format('woff'),
         url('fonts/Poppins-Regular.svg.ttf') format('truetype'),
         url('fonts/Poppins-Regular.ttf.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.woff2') format('woff2'),
         url('fonts/Poppins-Bold.woff') format('woff'),
         url('fonts/Poppins-Bold.ttf') format('truetype'),
         url('fonts/Poppins-Bold.svg#poppinsbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
         url('fonts/Poppins-SemiBold.woff') format('woff'),
         url('fonts/Poppins-SemiBold.ttf') format('truetype'),
         url('fonts/Poppins-SemiBold.svg#poppinssemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Winkle-Regular';
    src: url('fonts/Winkle-Regular.woff2') format('woff2'),
         url('fonts/Winkle-Regular.woff') format('woff'),
         url('fonts/Winkle-Regular.ttf') format('truetype'),
         url('fonts/Winkle-Regular.svg#winkleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




/**************************
 * COMMUN
 **************************/

a,
a:focus,
a:hover {
    text-decoration: none;
}

h2 {
    font-family: 'Winkle-Regular';
    font-size: 460px;
    letter-spacing: -25px;
    color: #8A84B7;
    margin: 0;
}

h2 span {
    color: #625E99;
}

h2 img {
    vertical-align: text-top;
}

div.description {
    font-family: 'Poppins-SemiBold';
    font-size: 30px;
    text-align: center;
    color: #EFBE2A;
    position: relative;
    transform: rotate(355deg);
    display: inline-block;
}

div.description div {
    background-color: #fff;
    margin: auto;
    margin-bottom: 3px;
    padding: 0 5px;
    display: table;
}

div.content-image {
    position: relative;
    height: 100%;
}

div.content-image img {
    position: absolute;
}




/**************************
 * AUTRE
 **************************/

#button-etsy {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-family: 'Winkle-Regular';
    font-size: 27px;
    border: 3.78516px solid #FFFFFF;
    background: transparent;
}

#button-etsy a,
#button-etsy a:focus,
#button-etsy a:hover {
    color: #fff;
}

.fp-watermark {
    display: none !important;
}




/**************************
 * MENU
 **************************/

#section-home header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

#section-home header h1 {
    opacity: 0;
    position: absolute;
}

#section-home header div:not(.header-contact) a {
    font-family: 'Poppins-Regular';
    font-size: 21px;
}

#section-home header div:not(.header-contact) a,
#section-home header div:not(.header-contact) a:focus,
#section-home header div:not(.header-contact) a:hover {
    color: #fff;
}

#section-home header div.header-contact {
    border: 0.946289px solid #EFBE2A;
    filter: drop-shadow(0px 3.78516px 3.78516px rgba(0, 0, 0, 0.25));
    padding: 6px 8px 3px 8px;
}

#section-home header div.header-contact a {
    font-family: 'Poppins-Bold';
    font-size: 21px;
    line-height: 21px;
}

#section-home header div.header-contact a,
#section-home header div.header-contact a:focus,
#section-home header div.header-contact a:hover {
    color: #EFBE2A;
}




/**************************
 * SLIDE HOME
 **************************/

#section-home div.content-image {
    height: 83%;
}

#section-home div.content-image img:nth-child(1) {
    left: 20rem;
    z-index: 1;
}

#section-home div.content-image img:nth-child(2) {
    left: 42rem;
    top: -3rem;
    z-index: 2;
}

#section-home div.content-image img:nth-child(3) {
    left: 50rem;
    bottom: 4rem;
    z-index: 2;
}

#section-home div.content-image img:nth-child(4) {
    right: 20rem;
    z-index: 3;
}

#section-home div.content-image img:nth-child(5) {
    left: 38rem;
    z-index: 4;
}




/**************************
 * SLIDE PAPER ART
 **************************/

#section-paper-art .content {
    display: flex;
    height: 100%;
}

#section-paper-art .content h2 {
    padding-left: 5rem;
}

#section-paper-art .content .description {
    left: 15rem;
}

#section-paper-art div.content > div {
    height: 100%;
}

#section-paper-art div.content > div.content-text {
    width: 60vw;
}

#section-paper-art div.content > div.content-image {
    width: 40vw;
}

#section-paper-art div.content-image img:nth-child(1) {
    left: 5rem;
    top: 3rem;
    z-index: 2;
}

#section-paper-art div.content-image img:nth-child(2) {
    left: 25rem;
    top: 10rem;
    z-index: 3;
}

#section-paper-art div.content-image img:nth-child(3) {
    left: -7rem;
    top: 20rem;
}

#section-paper-art div.content-image img:nth-child(4) {
    right: 11rem;
    top: 20rem;
    z-index: 4;
}

#section-paper-art div.content-image img:nth-child(5) {
    left: -12rem;
    bottom: 5rem;
}

#section-paper-art div.content-image img:nth-child(6) {
    right: 15rem;
    bottom: 4rem;
    z-index: 5;
}




/**************************
 * SLIDE DECO
 **************************/

#section-deco {
    position: relative;
}

#section-deco div.content-text {
    position: absolute;
    bottom: 1rem;
    right: 11rem;
}

#section-deco div.content-text .description {
    position: absolute;
    right: 3rem;
    top: -5rem;
    transform: rotate(10deg);
}

#section-deco div.content-image img:nth-child(1) {
    right: 35rem;
    top: 3rem;
}

#section-deco div.content-image img:nth-child(2) {
    right: 55rem;
    top: 8rem;
}

#section-deco div.content-image img:nth-child(3) {
    left: 28rem;
    top: 5rem;
    z-index: 2;
}

#section-deco div.content-image img:nth-child(4) {
    left: 10rem;
    top: 12rem;
    z-index: 3;
}

#section-deco div.content-image img:nth-child(5) {
    top: 28rem;
    left: 17rem;
}

#section-deco div.content-image img:nth-child(6) {
    right: 32rem;
    top: 8rem;
}

#section-deco div.content-image img:nth-child(7) {
    bottom: 4rem;
    left: 21rem;
}




/**************************
 * SLIDE RESINE
 **************************/

#section-resine .content {
    display: flex;
    height: 100%;
}

#section-resine .content h2 {
    line-height: 280px;
    padding-left: 5rem;
    padding-top: 5rem;
}

#section-resine .content .description {
    left: 10rem;
    top: 2rem;
}

#section-resine div.content > div {
    height: 100%;
}

#section-resine div.content > div.content-text {
    width: 40vw;
}

#section-resine div.content > div.content-image {
    width: 60vw;
}

#section-resine div.content-image img:nth-child(1) {
    top: 3rem;
    left: 7rem;
    z-index: 1;
}

#section-resine div.content-image img:nth-child(2) {
    right: 21rem;
    top: 3rem;
}

#section-resine div.content-image img:nth-child(3) {
    top: 25rem;
    right: 16rem;
    z-index: 4;
}

#section-resine div.content-image img:nth-child(4) {
    bottom: 9rem;
    left: 16rem;
    z-index: 2;
}

#section-resine div.content-image img:nth-child(5) {
    bottom: 15rem;
    left: 6rem;
}

#section-resine div.content-image img:nth-child(6) {
    top: 22rem;
    left: 24rem;
    z-index: 3;
}

#section-resine div.content-image img:nth-child(7) {
    bottom: 10rem;
    left: 9rem;
}




/**************************
 * SLIDE UP CYCLING
 **************************/

#section-up-cycling .content {
    position: relative;
}

#section-up-cycling div.content > div {
    height: 100%;
}

#section-up-cycling .content-text {
    width: 60vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

#section-up-cycling .content-text .description {
    position: absolute;
    right: 3rem;
    bottom: 21rem;
    transform: rotate(10deg);
}

#section-up-cycling .content-text h2 {
    line-height: 310px;
    position: absolute;
    right: 8rem;
    bottom: 2rem;
}

#section-up-cycling div.content-image img:nth-child(1) {
    left: 8rem;
    top: 3rem;
    z-index: 2;
}

#section-up-cycling div.content-image img:nth-child(2) {
    top: 25rem;
    left: 5rem;
}

#section-up-cycling div.content-image img:nth-child(3) {
    bottom: 5rem;
    left: 15rem;
}

#section-up-cycling div.content-image img:nth-child(4) {
    right: 32rem;
    top: 2rem;
}

#section-up-cycling div.content-image img:nth-child(5) {
    top: 1rem;
    right: 10rem;
}

#section-up-cycling div.content-image img:nth-child(6) {
    top: 17rem;
    right: 9rem;
}

#section-up-cycling div.content-image img:nth-child(7) {
    top: 21rem;
    left: 5rem;
    z-index: 3;
}




/**************************
 * SLIDE FLOCAGE
 **************************/

#section-flocage .content {
    display: flex;
    height: 100%;
}

#section-flocage .content-text .description {
    transform: rotate(3deg);
    left: 7rem;
    top: 4rem;
}

#section-flocage .content-text h2 {
    line-height: 290px;
    padding-top: 5rem;
    padding-left: 5rem;
}

#section-flocage div.content > div.content-text {
    width: 50vw;
}

#section-flocage div.content > div.content-image {
    width: 50vw;
}

#section-flocage div.content-image img:nth-child(1) {
    left: -17rem;
    top: 4rem;
}

#section-flocage div.content-image img:nth-child(2) {
    right: 17rem;
    top: 5rem;
    z-index: 2;
}

#section-flocage div.content-image img:nth-child(3) {
    top: 4rem;
    left: 13rem;
}

#section-flocage div.content-image img:nth-child(4) {
    top: 14rem;
    right: 6rem;
    z-index: 3;
}

#section-flocage div.content-image img:nth-child(5) {
    bottom: 4rem;
    right: 14rem;
}

#section-flocage div.content-image img:nth-child(6) {
    top: 23rem;
    left: 10rem;
}




/**************************
 * SLIDE CONTACT
 **************************/

#section-contact {
    padding-left: 12rem;
    padding-right: 12rem;
}

#section-contact h2 {
    font-size: 150px;
    letter-spacing: -10px;
}

#section-contact h3 {
    font-family: 'Poppins-SemiBold';
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #625E99;
    padding-top: 8px;
}

#section-contact .content {
    display: flex;
    justify-content: space-around;
}

#section-contact .content > div:nth-child(1) form {
    display: flex;
    flex-direction: column;
}

#section-contact .content > div:nth-child(1) form input[type=text],
#section-contact .content > div:nth-child(1) form input[type=email],
#section-contact .content > div:nth-child(1) form textarea {
    background-color: #8B85B8;
    border: none;
    padding: 20px 20px 15px 20px;
    margin-top: 2rem;
}

#section-contact .content > div:nth-child(1) form input[type=text],
#section-contact .content > div:nth-child(1) form input[type=email],
#section-contact .content > div:nth-child(1) form textarea,
#section-contact .content > div:nth-child(1) form input[type=text]::placeholder,
#section-contact .content > div:nth-child(1) form input[type=email]::placeholder,
#section-contact .content > div:nth-child(1) form textarea::placeholder {
    font-family: 'Poppins-Semibold';
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

#section-contact .content > div:nth-child(1) .message {
    font-family: 'Winkle-Regular';
    font-size: 48px;
    text-align: center;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 0;
}

#section-contact .content > div:nth-child(1) input[type=submit] {
    font-family: 'Winkle-Regular';
    font-size: 62px;
    color: #8A84B7;
    background-color: transparent;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
}

#section-contact .content > div:nth-child(2) > div:nth-child(1) div {
    text-align: center;
    margin-top: 1rem;
}

#section-contact .content > div:nth-child(2) footer {
    text-align: center;
    margin-top: 3rem;
}




/**************************
 * FOOTER
 **************************/

#section-contact footer a {
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
    text-transform: uppercase;
}

#section-contact footer a,
#section-contact footer a:focus,
#section-contact footer a:hover {
    color: #fff;
}

